* {
    margin: 100;
    padding: 200;
}

.artmenu{
    display: flex;
    position: sticky;
    top: 0;
    height: 30pt;
}

.art-list li{
    list-style: none;
    margin-left: 10pt;
    text-decoration: none;
    font-family: 'Palatino', URW Palladio L, serif;
}
.art-list li b{
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-size: 18px;
    margin-right: 20pt;
    font-family: 'Palatino', URW Palladio L, serif;
}

.art-list li b:hover{
    font-size: 20px;
}