* {
    margin: 100;
    padding: 200;
}
 
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.logo{
    margin-left: 20pt ;
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-family: 'Palatino', URW Palladio L, serif;
    font-weight: 550;
    font-size: 30px;
    font-variant: small-caps;
    cursor: pointer;
}
 
.background {
    background: rgb(221,208,200);
    background-blend-mode: lighten;
    background-size: cover;
    cursor: default;
}
 
.footer {
    background-color: #ddd0c8;
}

.nav-list {
    width: 100%;
    display: flex;
    align-items: center;

}


.menu{
    display: flex;
    margin-left: 250pt;
}
 
.nav-list li {
    list-style: none;
    padding: 26px 30px;
}
 
.nav-list li a {
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-size: 25px;
    margin-right: 10pt;
    font-family: 'Palatino', URW Palladio L, serif;
}
 
.nav-list li a:hover {
    color: grey;
}
 
.rightnav {
    width: 30%;
    text-align: right;
}

.artmenu{
    display: flex;
    position: sticky;
    top: 0;
}

.art-list li{
    list-style: none;
    margin-left: 10pt;
    text-decoration: none;
    font-family: 'Palatino', URW Palladio L, serif;
}
.art-list li b{
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-size: 18px;
    margin-right: 20pt;
    font-family: 'Palatino', URW Palladio L, serif;
}

.art-list li b:hover{
    font-size: 20px;
}
 
.frontpage{
    size: 10000px;
}

.btn-dmr{
    margin-left: 1000px;
    margin-top: 100px;
    width: 150pt;
    height: 60pt;
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    padding: 0.8em 1.5em 0.8em 1.2em;
    color: white;
    background: #7753ad;
    background: linear-gradient(0deg, rgba(50,50,50,1) 0%, rgba(51,51,51,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #313131be;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
}

.btn-dmr:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #ffffffbe;
  }
  
  .btn-dmr:active {
    box-shadow: 0 0.3em 1em -0.5em #000000be;
  }

.frontpage{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

.btn {
    color: #fff;
    background-color: rgb(50, 50, 50);
}

.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
}